body {
  font-size: 14px;
  color: #333;
  background-color: #fff;
  letter-spacing: 1px;
}

.over {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.tm {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  z-index: 5;
  text-align: center;
  margin-top: -125px;
}

.tm .hd p {
  color: #fff;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  font-weight: 100;
  letter-spacing: 7px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.tm .hd .m {
  font-size: 50px;
}

.tm .hd .s {
  font-size: 23px;
}

.sec {
  padding: 100px 0;
}

.ai {
  max-width: 100%;
}

.ssec {
  color: #fff;
}

.sk {
  text-align: center;
  margin-left: 10px;
}
.sk p {
  color: #a4acc4;
  font-size: 16px;
}

.sk > img {
  height: 152 px
}

.chart {
  position: relative;
  width: 152px;
  height: 152px;
  display: inline-block;
  text-align: center;
}

.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.chart .pt {
  color: #fff;
  line-height: 152px;
  display: inline-block;
  font-size: 35px;
}

.chart .pt:after {
  content: "%";
}

.sitem {
  margin-top: 30px;
  position: relative;
}

.sic {
  position: relative;
  padding: 50px 15px 35px;
  text-align: center;
  border: 2px solid #037fff;
  border-top: none;
}

.sic:before,
.sic:after {
  content: "";
  position: absolute;
  top: 0px;
  width: 30%;
  border-bottom: 2px solid #037fff;
}

.sic:before {
  right: 0px;
}

.sic:after {
  left: 0px;
}

.scontent h2 {
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 400;
  color: #fff;
}

.scontent h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  color: #a4acc4;
}

.sicon {
  position: absolute;
  left: 50%;
  top: -30px;
  width: 40%;
  height: 60px;
  font-size: 45px;
  margin-left: -20%;
  color: #fff;
}

.cbutton {
  color: #fff;
  padding: 15px 20px;
  display: inline-block;
  margin-top: 20px;
  border: 1px solid #037fff;
  border-radius: 2px;
}
.cbutton:hover {
  text-decoration: none;
  color: #fff;
  background-color: #161748;
}
.esec {
  background-color: #161748;
}
.handles {
  background-color: #000000;
  color: #fff;
  padding: 30px 5px;
}
#nav {
  background-color: #161748;
  padding: 20px 10px;
  z-index: 100;
  width: 100%;
}
#nav li {
  padding: 0 10px;
}
#nav li a {
  color: #fff;
}
.navbar-brand,
.navbar-brand:hover {
  color: #fff;
}
#icon {
  background: url(../img/menu.png);
  background-size: 100%;
}
.fix #nav {
  position: fixed;
  top: 0;
}
.loading {
  width: 100%;
  height: 100%;
  background-color: rgb(16, 18, 27);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

.loading .in {
  width: 100%;
  height: 100%;
  background: url(../img/loading.gif) center center no-repeat;
}

[class^="lni-"],
[class*=" lni-"] {
  font-family: "LineIcons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
